*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #484cec;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px;
}

nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav img{
    max-width: 124px;
}

#OpenDiscord {
    margin: 30px;
    margin-top: 30px;
    border:none;
    border-radius: 50px;
    height: 40px;
    min-width: 120px;
    width: 120px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;

}

#OpenDiscord:hover{
    box-shadow: 0px 10px 25px #00000060;
    cursor: pointer;
}

.MainBox{
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    background: #484cec;
    padding: 100px;
}

.MainBox h1{
    font-family: 'Kanit', sans-serif;
}

.MainBox h1,p{
    color: white;
    padding: 20px;  
}

.MainBox p{
    max-width: 775px;
    font-size: 20px;
    line-height: 35px;
}

.MainBox h1{
    font-size: 80px;
}

#DownloadWindows{
    border:none;
    color: black;
    background-color:white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px;
    width: 350px;
}

#DownloadWindows:hover{
    box-shadow: 0px 10px 25px #00000060;
    cursor: pointer;
}

#OpenInBrowser{
    border: none;
    color: white;
    background-color:black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px;
    width: 350px;
}

#OpenInBrowser:hover{
    box-shadow: 0px 10px 25px #00000060;
    cursor: pointer;
}

.SecondBox{
    padding: 100px;
    display: flex;
    justify-content: center;  
}

#Information{
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    max-width: 580px;
    
}

.SecondBox h2{
    color: #23272a;
    font-weight: bold;
    font-size: 60px;
    
}

.SecondBox p{
    color:black;
    text-decoration: none;
    font-size: 24;
    line-height: 35px;
    margin-top: 20px;
    padding:0;
}

.ThirdBox{
    background-color:#f8f4f4;;
    padding: 100px;
    display: flex;
    justify-content: center;  
}

.ThirdBox h2{
    color: #23272a;
    font-weight: bold;
    font-size: 60px;
}

.ThirdBox p{
    color:black;
    text-decoration: none;
    font-size: 24;
    line-height: 35px;
    margin-top: 20px;
    padding:0;
}

#VoiceConnection{
    display: flex;
    flex-direction: column;
    padding-right: 10vh;
    max-width: 580px;
}

.FourthBox{
    padding: 100px;
    display: flex;
    justify-content: center;  
}

.FourthBox h2{
    color: #23272a;
    font-weight: bold;
    font-size: 60px;
}

.FourthBox p{
    color:black;
    text-decoration: none;
    font-size: 24;
    line-height: 35px;
    margin-top: 20px;
    padding:0;
}

#ForAll{
    display: flex;
    flex-direction: column;
    padding-right: 10vh;
    max-width: 580px;
}

footer{
    background-color: #28242c;
    display: flex;
    text-decoration: none;
    align-content: space-around;
    padding: 15px;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #484cec;
}

footer span{
    color:white;
    font-weight: bold;
    padding: 10px;
}

@media all and (max-width: 1080px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
    }

    .MainBoxButtons{
        flex-direction: column;
    }

    .SecondBox{
        flex-direction: column;
    }

    .ThirdBox{
        flex-direction: column;
    }

    .FourthBox{
        flex-direction: column;
    }

    #Information, #VoiceConnection, #ForAll {
        padding: 0;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }
    
}